{% extends 'base.html' %}

{% block title %}About - Portfolio{% endblock %}

{% block content %}

  <h1>About</h1>
  <p> Kylee C. Razo</p>
  <p> From: Partida, Pulong Buhangin, Santa Maria, Bulacan </p>
    <p> Contact: 09813327435 </p>
    <p> Skills: Developing  </p>
    <p> Aspiring Game Developer and Web Developer </p>
    <p> Skilled in Unity, Godot, and Django </p>
    <p> Passionate about creating immersive gaming experiences and dynamic web applications </p>
    <p> Dedicated to continuous learning and growth in the tech industry </p>

  <p> Davene M. Doren </p>
  <p> From: Pandi, Mapulang lupa, Bulacan </p>
  <p> Contact: 09677084533 </p>
  <p> Skills: Developing </p>
       <p> Aspiring Web Developer and Designer </p>
       <p> Skilled in Django, HTML, CSS, and JavaScript </p>
       <p> Passionate about crafting user-friendly web applications and engaging designs </p>
       <p> Committed to honing skills and staying updated with the latest web technologies </p>  
{% endblock %}
